<div class="item active">
    <div class="photo">
        <img src="{{ asset('bundles/webdnaapp/frontend/img/voyteck.png') }}" alt="Voyteck Blazalek" class="img-responsive" />
    </div>
    <div class="author">
        Voyteck Blazalek, Founder<br />
    </div>
    <p class="content">
        Serial entrepreneur, SEO specialist with solid experience. Technology passionate, and music fun boy.
    </p>
</div>
<div class="item">
    <div class="photo">
        <img src="{{ asset('bundles/webdnaapp/frontend/img/mariusz.png') }}" alt="Mariusz Gil" class="img-responsive" />
    </div>
    <div class="author">
        Mariusz Gil, Architect<br />
    </div>
    <p class="content">
        Software architect focused on highly scalable web applications and experienced conference speaker.
        <br />He believes that big-data predictive analytics is the Next Big Thing.
    </p>
</div>
<div class="item">
    <div class="photo">
        <img src="{{ asset('bundles/webdnaapp/frontend/img/grzegorz.png') }}" alt="Grzegorz Murdzek" class="img-responsive" />
    </div>
    <div class="author">
        Grzegorz Murdzek, developer<br />
    </div>
    <p class="content">
        Software developer with long term experience in creating web-based systems from CMS to data mining SEO tools.
        <br />He likes the idea of software designed to be simple by default but powerful when needed.
    </p>
</div>