<div class="container-lg" id="access">

    <div class="separator">
        <img src="{{ asset('bundles/webdnaapp/frontend/img/separator_red.png') }}" />
    </div>

    <h2>Get beta access now</h2>

    <p class="text-center mt20">
        <a class="btn btn-lg btn-danger" href="{{ path('fos_user_registration_register') }}">Sign up for free!</a>
    </p>

</div>