{% extends 'WebDNAUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section class="content-24 bg-gray first-section">
        <img class="image" style="left: 50%; right: 0%;" src="{{ asset('bundles/webdnaapp/frontend/img/about_us/dashboard.png') }}" alt="">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-0">
                    <div class="features features-clear">
                        <div class="features-bodies" style="height: 380px;">
                            <div class="features-body active" style="height: 380px;">
                                <h3>
                                    You are logged out now<br />
                                    Hope to see you soon again...
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="features features-clear">
                        {% include 'WebDNAAppBundle:Common:social_likes.html.twig' %}
                        <br><br>
                        <p>
                            <i>WebDNA.io team</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}