body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 760px;
}

iframe {
    vertical-align: top;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

#navbar_frame {
    z-index: 100000;
    border-left: 1px dashed slategray;
    width: 280px;
    float: right;
    height: 100%;
    padding: 8px;
    min-height: 760px;
}

#page_frame {
    float: left;
    height: 100%;
    width: 76%;
    min-height: 760px;
}

#choose_link_container {
    display: none;
    margin-top: 8px;
}