{% trans_default_domain 'FOSUserBundle' %}
{% extends "WebDNAAppBundle:UserWorkbench:base.html.twig" %}

{% block sidebar_content %}{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumbs.crumb({ 'profile_edit': {'name': 'Change password', 'active': '1'} }) }}
{% endblock %}


{% block page_header %}
    <h1>Change password</h1>
{% endblock %}

{% block main_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock main_content %}
