<section class="content-8">
    <div class="container">
        </div>
        <h3>Something goes wrong...</h3>
        <div class="row p-t-30">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="p-t-20">
                    Be sure, that you enter valid URL address of the page.
                </p>
            </div>
        </div>
    </div>
</section>