<table width="352" border="0" cellpadding="0" cellspacing="0" align="center"
       class="full" bgcolor="#ffffff" object="drag-module-small"
       style="background-color: rgb(255, 255, 255);">
    <tr>
        <td width="352" valign="middle" align="center">

            <table width="265" border="0" cellpadding="0" cellspacing="0"
                   align="center" class="mobile">
                <tr>
                    <td width="265" align="center">

                        <table width="240" border="0" cellpadding="0"
                               cellspacing="0" align="center" class="full">

                            <tr>
                                <td>
                                    <table width="100%" border="0"
                                           cellpadding="0" cellspacing="0"
                                           align="center">
                                        <tr>
                                            <td align="center">
<span><!--[if !mso]><!--><span style="font-family: 'proxima_nova_rgregular', Helvetica;"><!--<![endif]--><br>
<!--[if !mso]><!--></span><!--<![endif]--></span>

<span><!--[if !mso]><!--><span style="font-family: 'proxima_nova_rgregular', Helvetica;"><!--<![endif]-->Thank you,
<!--[if !mso]><!--></span><!--<![endif]--></span>
                                                <br>

<span><!--[if !mso]><!--><span style="font-family: 'proxima_nova_rgregular', Helvetica;"><!--<![endif]-->WebDNA.io Team
<!--[if !mso]><!--></span><!--<![endif]--></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<br><br>

<table width="352" border="0" cellpadding="0" cellspacing="0" align="center"
       class="full" bgcolor="#ffffff" object="drag-module-small"
       style="background-color: rgb(255, 255, 255);">
    <tr>
        <td width="352" valign="middle" align="center">

            <table width="265" border="0" cellpadding="0" cellspacing="0"
                   align="center" class="mobile">
                <tr>
                    <td width="265" align="center">

                        <table width="240" border="0" cellpadding="0"
                               cellspacing="0" align="center" class="full">

                            <tr>
                                <td>
                                    <table width="100%" border="0"
                                           cellpadding="0" cellspacing="0"
                                           align="center">
                                        <tr>
                                            <td colspan="3" align="center">
<span><!--[if !mso]><!--><span style="font-family: 'proxima_nova_rgregular', Helvetica;"><!--<![endif]-->Join us on
<!--[if !mso]><!--></span><!--<![endif]--></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"><!--[if !mso]><!--><span
                                                        style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"><!--<![endif]-->
<a href="https://twitter.com/WebDNAio"
   style="color: rgb(34, 32, 32); font-size: 16px; text-decoration: none; line-height: 34px; width: 100%;">Twitter</a>
<!--[if !mso]><!--></span><!--<![endif]--></td>
                                            <td align="center"><!--[if !mso]><!--><span
                                                        style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"><!--<![endif]-->
<a href="https://www.facebook.com/WebDNA.io"
   style="color: rgb(34, 32, 32); font-size: 16px; text-decoration: none; line-height: 34px; width: 100%;">Facebook</a>
<!--[if !mso]><!--></span><!--<![endif]--></td>
                                            <td align="center"><!--[if !mso]><!--><span
                                                        style="font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"><!--<![endif]-->
<a href="https://www.linkedin.com/company/web-dna"
   style="color: rgb(34, 32, 32); font-size: 16px; text-decoration: none; line-height: 34px; width: 100%;">LinkedIn</a>
<!--[if !mso]><!--></span><!--<![endif]--></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
