<div class="col-sm-4 col-sm-offset-1 features">
    <h3>What is the purpose of using WebDNA?</h3>
    <h6><i class="fui-check"></i> It protects your business from SEO penalty</h6>
    <h6><i class="fui-check"></i> It helps avoiding drops in organic traffic</h6>
    <h6><i class="fui-check"></i> It lets you achieve better positions in Google</h6>
</div>