<ul class="nav nav-pills nav-justified">
    <li>
        <a href="{{ path('oauth_connect', {name: 'google'}) }}" class="btn btn-info btn-cons btn-lg btn-block">
            <i class="fa fa-google"></i> Google
        </a>
    </li>
    <li></li>
    <li>
        <a href="{{ path('oauth_connect', {name: 'facebook'}) }}" class="btn btn-info btn-cons btn-lg btn-block">
            <i class="fa fa-facebook"></i> Facebook
        </a>
    </li>
</ul>


