{% extends 'WebDNAUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <section class="content-24 bg-gray first-section">
        <img class="image" style="left: 50%; right: 0%;" src="{{ asset('bundles/webdnaapp/frontend/img/about_us/dashboard.png') }}" alt="">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-0">
                    <div class="features features-clear">
                        <div class="features-bodies" style="height: 380px;">
                            <div class="features-body active" style="height: 380px;">
                                <h3>We'd love to have you here</h3>
                                <p>
                                    There is only one step to finish registration. We send you email to verify email ownership.
                                    As soon as you click verification link you will be able to use all features of WebDNA.
                                </p>
                                <p>
                                    All the best and great quality backlinks!
                                <p>
                                    <i>WebDNA.io team</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}