{% extends '::base.html.twig' %}

{% block meta_title %}Features{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 30px;">
        <div class="col-md-6 col-md-offset-3">
            <p>
                Main feature of WebDNA.io is a toxic link detection. It’s a useful tool for website owners
                whose sites have been banned or penalized by a search engine, because some inbound links have been
                considered as spam. Due to Google's intransparency, we observe a strong global demand for application
                that helps them quickly detect and disavow such links.
            </p>
        </div>
    </div>
{% endblock %}