{#
<section class="content-11" style="background-color: {% if backgroundColor is defined %}{{ backgroundColor }}{% else %}rgb(236, 240, 241){% endif %};{% if fontColor is defined %}color:{{ fontColor }};{% endif %} padding: 70px 0;">
    <div class="container">
        <a class="btn btn-large btn-danger" href="{{ url('fos_user_registration_register') }}">Try WebDNA now</a>
    </div>
</section>
#}