<section class="content-18" style="background-color: rgb(255, 255, 255);">
    <div class="container">
        <div id="c-18_myCarousel" class="carousel slide" data-interval="600000">
            <div class="controls">
                <a class="carousel-control left" href="#c-18_myCarousel" data-slide="prev"></a>
                <a class="carousel-control right" href="#c-18_myCarousel" data-slide="next"></a>
            </div>
            <div class="carousel-inner" style="height: 143px;">
                <div class="item">
                    <div class="quote-text">
                        Our goal is to make SEO much easier so you can save money and focus on what is really important in search engine marketing - high quality content, a better website and authentic social media presence.
                    </div>
                    {# <div class="quote-author"></div> #}
                </div>
                <div class="item active">
                    <div class="quote-text">
                        WebDNA performs a simple but extremely useful task: it evaluates links. It is able to do it thanks to our powerful Sybilla Algorithm, which feeds on big data form countless number of sites and perpetually learns to distinguish quality links from spam.
                    </div>
                    {# <div class="quote-author">@stSilent, DesignModo.com</div> #}
                </div>
                <div class="item">
                    <div class="quote-text">
                        Our vision is to develop a universal cockpit that can monitor and check a variety of signals important for website performance.
                    </div>
                    {# <div class="quote-author">@stSilent, DesignModo.com</div> #}
                </div>
            </div>
        </div>
    </div>
</section>